@{
    ViewData["Title"] = "Home Page";
}

<div>
 
        <div class="item">
            <div  role="option">
                <h1>
                    WELCOME 
                    TO
                    ASP .NET TODO ONLINE APP
                 
                </h1>
            </div>
        </div>
</div>

